.features-list {
  display: flex;
  flex-wrap: wrap;
}

.features-list .features-list-item {
  width: calc((100% - 90px) / 4);
  margin-right: 30px;
  margin-bottom: 30px;

  &:nth-child(4n) {
    margin-right: 0;
  }
  &:nth-last-child(-n + 4) {
    margin-bottom: 0;
  }
}

.features-icon-background {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 30px;
  height: 120px;
  width: 270px;
  background-color: $secondary-background-color;
  border-radius: 4px;
}

.features-title {
  margin-top: 0;
  margin-bottom: 10px;

  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
}

.features-title-text {
  margin-top: 0;
  margin-bottom: 0;
  color: $secondary-text-color;

  font-size: 14px;
  line-height: 1.71;
}
