.header-contacts {
  margin-bottom: 64px;
  color: $secondary-text-color;

  @media screen and (min-width: 768px) {
    display: flex;
    flex-direction: column-reverse;
    justify-content: center;
    margin-bottom: 0;
  }

  @media screen and (min-width: 1200px) {
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    justify-content: center;
    margin-bottom: 0;
  }
}

.icon.link {
  display: flex;
  fill: currentColor;
  align-items: center;
  transition: color 250ms $time-function, font-size 250ms $time-function,
    line-height 250ms $time-function;
}

.header-contacts-item {
  padding-bottom: 32px;

  &:last-child {
    padding-bottom: 0;
  }
  & .link:hover,
  & .link:focus {
    color: $accent;
    font-size: 34px;
    line-height: 1.177;
  }

  @media screen and (min-width: 768px) {
    padding-bottom: 0px;
    font-size: 12px;
    &:last-child {
      padding-bottom: 10px;
    }
    & .link:hover,
    & .link:focus {
      font-size: 12px;
    }
  }

  @media screen and (min-width: 1200px) {
    &:last-child {
      padding-bottom: 0px;
    }
    &:first-child {
      margin-left: 30px;
    }

    & .link:hover,
    & .link:focus {
      color: $accent;
      font-size: 14px;
      line-height: 1.14;
    }
  }
}

.icon-picture {
  display: none;
  margin-right: 10px;

  @media screen and (min-width: 768px) {
    display: inherit;
  }
}

.header-contacts .link {
  color: $secondary-text-color;

  font-family: $text-font-main;
  font-weight: 500;
  font-size: 24px;
  line-height: 1.17;
  letter-spacing: 0.02em;

  @media screen and (min-width: 768px) {
    font-size: 12px;
  }

  @media screen and (min-width: 1200px) {
    font-size: 14px;
    line-height: 1.14;
  }
}
