.bottom {
  padding-top: 60px;
  padding-bottom: 60px;

  background-color: $footer-background-color;

  @media screen and (max-width: 1199px) {
    text-align: center;
  }
}

.bottom-link {
  display: inline-block;
  margin-bottom: 20px;
}

.container-bottom {
  @media screen and (min-width: 768px) {
    display: flex;
    align-items: baseline;
  }

  @media screen and (min-width: 768px) and (max-width: 1199px) {
    flex-wrap: wrap;
    justify-content: space-between;
  }
}

.bottom-left {
  @media screen and (min-width: 768px) {
    width: 231px;

    margin-left: 61px;
    margin-bottom: -20px;
  }

  @media screen and (min-width: 1200px) {
    margin-right: 70px;
    margin-bottom: 0;
    margin-left: 0;
  }
}

.bottom-left-title {
  margin-bottom: 9px;

  color: $second-primary-text-color;

  font-style: normal;
  font-size: 14px;
  line-height: 1.71;
}

.bottom-left-contacts {
  margin-bottom: 9px;

  &:last-child {
    margin-bottom: 60px;
  }
}

.bottom-left-contacts .link {
  color: rgba(255, 255, 255, 60%);

  font-size: 14px;
  line-height: 1.71;

  transition: color 250ms $time-function;
}

.social-net {
  @media screen and (min-width: 768px) {
    margin-right: 74px;
  }

  @media screen and (min-width: 1200px) {
    margin-right: 93px;
  }
}

.social-net-title {
  margin-top: 0;
  margin-bottom: 20px;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;

  color: $primary-background-color;
}

.social-net-list {
  display: flex;
  align-items: center;
  justify-content: center;

  margin-bottom: 60px;
  padding-left: 0;

  @media screen and (min-width: 768px) {
    margin: 0;
  }
}

.social-net-link {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-basis: calc((100% - 102px) / 4);
  width: 44px;
  height: 44px;

  color: $second-primary-text-color;
  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 50%;

  fill: currentColor;
  transition: background-color 250ms $time-function;

  &:hover,
  &:focus {
    background-color: $accent;
  }
}

.social-net-list-item:not(:last-child) {
  margin-right: 10px;
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .bottom-form-box {
    width: 450px;
    margin-left: auto;
    margin-right: auto;
  }
}

.bottom-form {
  position: relative;
  width: 100%;
  display: flex;
  flex-direction: column;

  @media screen and (min-width: 1200px) {
    flex-direction: row;
  }
}

.bottom-form-label {
  position: absolute;
  left: 16px;
  top: 15px;

  font-weight: 400;
  font-size: 16px;
  line-height: 1.25;
  display: flex;
  align-items: center;

  color: rgba(255, 255, 255, 0.6);

  transition: transform 250ms $time-function;
}

.bottom-form-input {
  height: 50px;
  width: 100%;
  padding-left: 16px;
  margin-bottom: 20px;
  color: $second-primary-text-color;
  background-color: $footer-background-color;
  border: 1px solid rgba(255, 255, 255, 0.3);
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;

  &:focus + .bottom-form-label,
  &:not(:placeholder-shown) + .bottom-form-label {
    transform: translateX(-75px);
  }

  @media screen and (min-width: 1200px) {
    margin-bottom: 0;
    padding-left: 0;
    width: 358px;
  }
}

.bottom-form-btn {
  margin-right: 125px;
  margin-left: 125px;
  margin-bottom: 60px;
  padding: 10px 29px;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: 0.06em;

  cursor: pointer;
  color: $second-primary-text-color;
  background: $accent;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  border-style: none;

  @media screen and (min-width: 1200px) {
    margin-right: 0;
    margin-left: 12px;
    margin-bottom: 0;
  }
}

.bottom-form-btn-icon {
  margin-left: 10px;
}
