.main-nav {
  position: relative;
  display: flex;

  & .logo {
    padding-top: 16px;
    padding-bottom: 16px;

    @media screen and (min-width: 768px) {
      padding-top: 26px;
      padding-bottom: 26px;
    }

    @media screen and (min-width: 1200px) {
      padding-top: 24px;
      padding-bottom: 25px;
    }
  }
}

.main-nav-box {
  display: none;
  position: absolute;
  top: 0px;
  left: 0;
  min-width: 480px;
  padding-left: 40px;
  background-color: $primary-background-color;

  &.is-open {
    display: block;
  }

  @media screen and (min-width: 768px) {
    display: flex;
    position: inherit;
    padding-left: 0px;
  }
}

.main-nav-list {
  padding-top: 48px;
  margin-bottom: 302px;

  & .link:hover,
  & .link:focus {
    color: $accent;
  }

  &:last-child {
    padding-bottom: 0px;
  }

  @media screen and (min-width: 768px) {
    display: flex;
    margin-bottom: 0;
    margin-left: 88px;
    padding-top: 0;
  }

  @media screen and (min-width: 1200px) {
    padding-bottom: 25px;
    margin-left: 93px;
  }
}

.main-nav-list-item {
  padding-bottom: 32px;

  &:last-child {
    padding-bottom: 0;
  }

  @media screen and (min-width: 768px) {
    &:not(:last-child) {
      margin-right: 50px;
      padding-bottom: 0;
    }
  }
}

.main-nav-list .link {
  display: block;
  padding-top: 0px;
  color: $primary-text-color;

  font-family: $text-font-main;
  font-weight: 500;
  font-size: 40px;
  line-height: 1.175;
  letter-spacing: 0.02em;

  transition: color 250ms $time-function;

  @media screen and (min-width: 768px) {
    padding-top: 32px;
    padding-bottom: 32px;
    font-size: 14px;
    line-height: 1.14;
  }
}

.bottom-left-contacts {
  & .link:hover,
  & .link:focus {
    color: $accent;
  }
}

.current.link {
  position: relative;
  color: $accent;

  @media screen and (min-width: 768px) {
    &.link::after {
      position: absolute;
      content: "";
      width: 100%;
      height: 4px;
      bottom: -2px;
      left: 0;
      background: $accent;
      border-radius: 2px;
    }
  }
}

.main-nav-btn {
  position: absolute;
  top: 10px;
  right: 15px;
  display: inline-flex;
  padding: 0;
  margin: 0;
  border: none;

  cursor: pointer;
  background-color: transparent;
  transition: fill 250ms $time-function;

  &:hover,
  &:focus {
    fill: $accent;
  }

  & .icon-close {
    display: none;
  }
  &.is-open .icon-close {
    display: block;
  }

  &.is-open .icon-menu {
    display: none;
  }

  @media screen and (min-width: 768px) {
    display: none;
  }
}
