main {
  margin-top: 80px;

  @media screen and (max-width: 767px) {
    margin-top: 60px;
  }
}

.head {
  padding-top: 118px;
  padding-bottom: 118px;
  width: 100%;
  text-align: center;
  margin-left: auto;
  margin-right: auto;

  background-image: linear-gradient(
      to right,
      rgba(47, 48, 58, 0.4),
      rgba(47, 48, 58, 0.4)
    ),
    url(../images/background-mb.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;

  @media screen and (min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
    background-image: linear-gradient(
        to right,
        rgba(47, 48, 58, 0.4),
        rgba(47, 48, 58, 0.4)
      ),
      url(../images/background-mb2x.jpg);
  }

  @media screen and (min-width: 576px) {
    background-image: linear-gradient(
        to right,
        rgba(47, 48, 58, 0.4),
        rgba(47, 48, 58, 0.4)
      ),
      url(../images/background-tb.jpg);

    @media screen and (min-device-pixel-ratio: 2),
      (min-resolution: 192dpi),
      (min-resolution: 2dppx) {
      background-image: linear-gradient(
          to right,
          rgba(47, 48, 58, 0.4),
          rgba(47, 48, 58, 0.4)
        ),
        url(../images/background-tb2x.jpg);
    }
  }

  @media screen and (min-width: 769px) {
    background-image: linear-gradient(
        to right,
        rgba(47, 48, 58, 0.4),
        rgba(47, 48, 58, 0.4)
      ),
      url(../images/background-pc.jpg);

    @media screen and (min-device-pixel-ratio: 2),
      (min-resolution: 192dpi),
      (min-resolution: 2dppx) {
      background-image: linear-gradient(
          to right,
          rgba(47, 48, 58, 0.4),
          rgba(47, 48, 58, 0.4)
        ),
        url(../images/background-pc2x.jpg);
    }
  }

  @media screen and (min-width: 1200px) {
    max-width: 1600px;
    padding-top: 200px;
    padding-bottom: 200px;
  }
}

.head-title {
  width: 360px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 0;
  margin-bottom: 30px;

  color: $second-primary-text-color;

  font-weight: 900;

  font-size: 26px;
  line-height: 1.62;
  letter-spacing: 0.06em;
  text-transform: uppercase;

  @media screen and (min-width: 1200px) {
    width: 696px;
    font-size: 44px;
    line-height: 1.36;
  }

  @media screen and (max-width: 480px) {
    width: 100%;
  }
}

.head-button {
  padding: 10px 32px;
  background-color: $accent;
  color: $second-primary-text-color;

  font-family: inherit;
  cursor: pointer;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  display: inline-block;
  align-items: center;
  letter-spacing: 0.06em;

  border-radius: 4px;
  border-style: none;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);

  transition: background-color 250ms $time-function;

  &:hover,
  &:focus {
    background-color: #188ce8;
  }
}
