.projects {
  display: flex;
  flex-wrap: wrap;
  margin-top: 50px;
}

.projects-card {
  width: 370px;
  margin-right: 30px;
  margin-bottom: 30px;

  &:nth-child(3n) {
    margin-right: 0;
  }
  &:nth-last-child(-n + 3) {
    margin-bottom: 0;
  }
}

.projects-picture {
  position: relative;
  overflow: hidden;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;

  background: rgba(33, 150, 243, 0.9);

  transform: translateY(101%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);

  .projects-link:hover &,
  .projects-link:focus & {
    transform: translateY(0);
  }
}

.overlay-text {
  padding: 63px 24px 63px 24px;
  margin: 0;

  color: $second-primary-text-color;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.56;
}

.projects-card-bottom {
  padding-top: 20px;
  padding-bottom: 20px;
  padding-left: 23px;
  padding-right: 23px;
  border-left: 1px solid #eeeeee;
  border-right: 1px solid #eeeeee;
  border-bottom: 1px solid #eeeeee;
}

.projects-link {
  transition: box-shadow 250ms $time-function;

  &:hover,
  &:focus {
    display: inline-block;
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
      1px 4px 6px rgba(0, 0, 0, 0.16);
  }
}

.projects-card-bottom-title {
  width: 322px;
  margin-top: 0;
  margin-bottom: 4px;
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: $primary-text-color;
}

.projects-card-bottom-unit {
  width: 322px;
  margin-top: 0;
  margin-bottom: 0;
  color: $secondary-text-color;

  font-size: 16px;
  line-height: 1.88;
}
