.filter {
  display: flex;

  @media screen and (max-width: 767px) {
    flex-wrap: wrap;
    justify-content: flex-start;
  }

  @media screen and (min-width: 768px) {
    justify-content: center;
  }
}

.filter-item:not(:last-child) {
  margin-right: 8px;
}
@media screen and (max-width: 767px) {
  .filter-item:nth-child(n + 4) {
    margin-top: 15px;
  }
}

@media screen and (max-width: 389px) {
  .filter-item:nth-child(n + 4) {
    margin-top: 0;
  }
  .filter-item:nth-child(n + 3) {
    margin-top: 15px;
  }
}

.filter-btn {
  padding: 6px 22px 6px 22px;

  font-family: inherit;
  cursor: pointer;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.63;

  background-color: $secondary-background-color;
  border-radius: 4px;
  border-style: none;

  transition: background-color 250ms $time-function, color 250ms $time-function,
    box-shadow 250ms $time-function;

  &:hover,
  &:focus {
    background-color: $accent;
    color: $second-primary-text-color;
    box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
      0px 2px 2px rgba(0, 0, 0, 0.12);
  }
}

.btn-active {
  background-color: $accent;
  color: $second-primary-text-color;
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
}
